<!DOCTYPE html>
<html>
<head>
    <title>Shortlink App</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <div class="container centered">
        <h1 class="centered"><a href="/">jes.se</a></h1>
        <form method="post">
            <input type="text" value="<%= h(params[:url]) %>" placeholder="www.jessegrant.net" name="url" id="url" />
            <input type="submit" value="Shorten!" id="submit" />
        </form>
        <% if @code %>
        <div>
            Your short code is:
            <a href="/<%= @code %>"><%= @code %></a>
        </div>
        <% end %>
    </div>
</body>